We explored how to use a simple k-nearest neighbors machine learning model that used just one feature, or attribute, of the listing to predict the rent price. We first relied on the accommodates column, which describes the number of people a living space can comfortably accommodate. Then, we switched to the bathrooms column and observed an improvement in accuracy. While these were good features to become familiar with the basics of machine learning, it's clear that using just a single feature to compare listings doesn't reflect the reality of the market. An apartment that can accommodate 4 guests in a popular part of Washington D.C. will rent for much higher than one that can accommodate 4 guests in a crime ridden area.

There are 2 ways we can tweak the model to try to improve the accuracy (decrease the RMSE during validation):
1. increase the number of attributes the model uses to calculate similarity when ranking the closest neighbors
2. increase k, the number of nearby neighbors the model uses when computing the prediction

In this mission, we'll focus on increasing the number of attributes the model uses. When selecting more attributes to use in the model, we need to watch out for columns that don't work well with the distance equation. This includes columns containing:
1. non-numerical values (e.g. city or state)
 Euclidean distance equation expects numerical values
2. missing values
 distance equation expects a value for each observation and attribute
3. non-ordinal values (e.g. latitude or longitude)
ranking by Euclidean distance doesn't make sense if all attributes aren't ordinal

### Instructions

Use the DataFrame.info() method to return the number of non-null values in each column.

In [2]:
import pandas as pd
import numpy as np
np.random.seed(1)
dc_listings = pd.read_csv('dc_airbnb.csv')
dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]
stripped_commas = dc_listings['price'].str.replace(',', '')
stripped_dollars = stripped_commas.str.replace('$', '')
dc_listings['price'] = stripped_dollars.astype('float')

In [3]:
print(dc_listings.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3723 entries, 574 to 1061
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   host_response_rate    3289 non-null   object
 1   host_acceptance_rate  3109 non-null   object
 2   host_listings_count   3723 non-null   int64
 3   accommodates          3723 non-null   int64
 4   room_type             3723 non-null   object
 5   bedrooms              3702 non-null   float64
 6   bathrooms             3696 non-null   float64
 7   beds                  3712 non-null   float64
 8   price                 3723 non-null   float64
 9   cleaning_fee          2335 non-null   object
 10  security_deposit      1426 non-null   object
 11  minimum_nights        3723 non-null   int64
 12  maximum_nights        3723 non-null   int64
 13  number_of_reviews     3723 non-null   int64
 14  latitude              3723 non-null   float64
 15  longitude             3723 non-null   float64
 16  city                  3723 non-null   object
 17  zipcode               3714 non-null   object
 18  state                 3723 non-null   object
dtypes: float64(6), int64(5), object(8)
memory usage: 581.7+ KB
None

### Removing features

The following columns contain non-numerical values:

1. room_type: e.g. Private room
2. city: e.g. Washington
3. state: e.g. DC
    
while these columns contain numerical but non-ordinal values:

1. latitude: e.g. 38.913458
2. longitude: e.g. -77.031
3. zipcode: e.g. 20009

Geographic values like these aren't ordinal, because a smaller numerical value doesn't directly correspond to a smaller value in a meaningful way. For example, the zip code 20009 isn't smaller or larger than the zip code 75023 and instead both are unique, identifier values. Latitude and longitude value pairs describe a point on a geographic coordinate system and different equations are used in those cases (e.g. haversine).

While we could convert the host_response_rate and host_acceptance_rate columns to be numerical (right now they're object data types and contain the % sign), these columns describe the host and not the living space itself. Since a host could have many living spaces and we don't have enough information to uniquely group living spaces to the hosts themselves, let's avoid using any columns that don't directly describe the living space or the listing itself:

1. host_response_rate
2. host_acceptance_rate
3. host_listings_count

Let's remove these 9 columns from the Dataframe.

In [4]:
dc_listings.columns

Index(['host_response_rate', 'host_acceptance_rate', 'host_listings_count',
       'accommodates', 'room_type', 'bedrooms', 'bathrooms', 'beds', 'price',
       'cleaning_fee', 'security_deposit', 'minimum_nights', 'maximum_nights',
       'number_of_reviews', 'latitude', 'longitude', 'city', 'zipcode',
       'state'],
      dtype='object')

In [5]:
dc_listings = dc_listings.drop(columns = ['host_response_rate', 'host_acceptance_rate', 'host_listings_count','latitude', 'longitude', 'city', 'zipcode','state', 'room_type'])

In [6]:
dc_listings.head()

,accommodates,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
574,2,1.0,1.0,1.0,125.0,NaN,$300.00,1,4,149
1593,2,1.0,1.5,1.0,85.0,$15.00,NaN,1,30,49
3091,1,1.0,0.5,1.0,50.0,NaN,NaN,1,1125,1
420,2,1.0,1.0,1.0,209.0,$150.00,NaN,4,730,2
808,12,5.0,2.0,5.0,215.0,$135.00,$100.00,2,1825,34

### Handling missing values

Of the remaining columns, 3 columns have a few missing values (less than 1% of the total number of rows):

1. bedrooms
2. bathrooms
3. beds

Since the number of rows containing missing values for one of these 3 columns is low, we can select and remove those rows without losing much information. There are also 2 columns that have a large number of missing values:

1. cleaning_fee - 37.3% of the rows
2. security_deposit - 61.7% of the rows

and we can't handle these easily. We can't just remove the rows containing missing values for these 2 columns because we'd miss out on the majority of the observations in the dataset. Instead, let's remove these 2 columns entirely from consideration.

### Instructions
1. Drop the cleaning_fee and security_deposit columns from dc_listings.
2. Then, remove all rows that contain a missing value for the bedrooms, bathrooms, or beds column from dc_listings.

You can accomplish this by using the Dataframe method dropna() and setting the axis parameter to 0.
Since only the bedrooms, bathrooms, and beds columns contain any missing values, rows containing missing values in these columns will be removed.

3. Display the null value counts for the updated dc_listings Dataframe to confirm that there are no missing values left.

In [7]:
dc_listings = dc_listings.drop(columns = ['cleaning_fee', 'security_deposit'])

In [8]:
dc_listings.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,2,1.0,1.0,1.0,125.0,1,4,149
1593,2,1.0,1.5,1.0,85.0,1,30,49
3091,1,1.0,0.5,1.0,50.0,1,1125,1
420,2,1.0,1.0,1.0,209.0,4,730,2
808,12,5.0,2.0,5.0,215.0,2,1825,34

In [9]:
dc_listings = dc_listings.dropna(subset = ['bedrooms', 'bathrooms', 'beds'], axis = 0)

In [10]:
dc_listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3671 entries, 574 to 1061
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   accommodates       3671 non-null   int64
 1   bedrooms           3671 non-null   float64
 2   bathrooms          3671 non-null   float64
 3   beds               3671 non-null   float64
 4   price              3671 non-null   float64
 5   minimum_nights     3671 non-null   int64
 6   maximum_nights     3671 non-null   int64
 7   number_of_reviews  3671 non-null   int64
dtypes: float64(4), int64(4)
memory usage: 258.1 KB

In [11]:
dc_listings.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,2,1.0,1.0,1.0,125.0,1,4,149
1593,2,1.0,1.5,1.0,85.0,1,30,49
3091,1,1.0,0.5,1.0,50.0,1,1125,1
420,2,1.0,1.0,1.0,209.0,4,730,2
808,12,5.0,2.0,5.0,215.0,2,1825,34

### Normalize columns

You may have noticed that while the `accommodates`, `bedrooms`, `bathrooms`, `beds`, and `minimum_nights` columns hover between 0 and 12 (at least in the first few rows), the values in the `maximum_nights` and `number_of_reviews` columns span much larger ranges. For example, the maximum_nights column has values as low as 4 and as high as 1825, in the first few rows itself. If we use these 2 columns as part of a k-nearest neighbors model, these attributes could end up having an outsized effect on the distance calculations, because of the largeness of the values.

In [12]:
print(dc_listings['accommodates'].max())
print(dc_listings['accommodates'].min())
print(dc_listings['bedrooms'].max())
print(dc_listings['bedrooms'].min())
print(dc_listings['bathrooms'].max())
print(dc_listings['bathrooms'].min())
print(dc_listings['beds'].max())
print(dc_listings['beds'].min())
print(dc_listings['maximum_nights'].max())
print(dc_listings['maximum_nights'].min())
print(dc_listings['number_of_reviews'].max())
print(dc_listings['number_of_reviews'].min())

16
1
10.0
0.0
8.0
0.0
16.0
1.0
2147483647
1
362
0

For example, 2 living spaces could be identical across every attribute but be vastly different just on the maximum_nights column. If one listing had a maximum_nights value of 1825 and the other a maximum_nights value of 4, because of the way Euclidean distance is calculated, these listings would be considered very far apart because of the outsized effect the largeness of the values had on the overall Euclidean distance. To prevent any single column from having too much of an impact on the distance, we can normalize all of the columns to have a mean of 0 and a standard deviation of 1.

Normalizing the values in each column to the standard normal distribution (mean of 0, standard deviation of 1) preserves the distribution of the values in each column while aligning the scales. To normalize the values in a column to the standard normal distribution, you need to:
from each value, subtract the mean of the column
divide each value by the standard deviation of the column

# Subtract each value in the column by the mean.
first_transform = dc_listings['maximum_nights'] - dc_listings['maximum_nights'].mean()
# Divide each value in the column by the standard deviation.
normalized_col = first_transform / first_transform.std()

It should be noted that you can also do the following:

normalized_col = first_transform / dc_listings['maximum_nights'].std()

and get the same answer as above.

This is because first_transform is merely shifting the mean of the distribution and has no effect on the shape or scaling of the distribution. In other words, the variance of dc_listings is the same as the variance of first_transform.
To apply this transformation across all of the columns in a Dataframe, you can use the corresponding Dataframe methods mean() and std():

normalized_listings = (dc_listings - dc_listings.mean()) / (dc_listings.std())

### Instructions 

1. Normalize all of the feature columns in dc_listings and assign the new Dataframe containing just the normalized feature columns to normalized_listings.
2. Add the price column from dc_listings to normalized_listings.
3. Display the first 3 rows in normalized_listings.

In [13]:
normalized_listings = (dc_listings - dc_listings.mean()) / (dc_listings.std())

In [14]:
normalized_listings.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,-0.596544,-0.249467,-0.439151,-0.546858,-0.173345,-0.341375,-0.016604,4.579650
1593,-0.596544,-0.249467,0.412923,-0.546858,-0.464148,-0.341375,-0.016603,1.159275
3091,-1.095499,-0.249467,-1.291226,-0.546858,-0.718601,-0.341375,-0.016573,-0.482505
420,-0.596544,-0.249467,-0.439151,-0.546858,0.437342,0.487635,-0.016584,-0.448301
808,4.393004,4.507903,1.264998,2.829956,0.480962,-0.065038,-0.016553,0.646219

In [15]:
normalized_listings['price'] = dc_listings['price']

In [16]:
normalized_listings.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,-0.596544,-0.249467,-0.439151,-0.546858,125.0,-0.341375,-0.016604,4.579650
1593,-0.596544,-0.249467,0.412923,-0.546858,85.0,-0.341375,-0.016603,1.159275
3091,-1.095499,-0.249467,-1.291226,-0.546858,50.0,-0.341375,-0.016573,-0.482505
420,-0.596544,-0.249467,-0.439151,-0.546858,209.0,0.487635,-0.016584,-0.448301
808,4.393004,4.507903,1.264998,2.829956,215.0,-0.065038,-0.016553,0.646219

### Euclidean distance for multivariate case

In the last mission, we trained 2 univariate k-nearest neighbors models. The first one used the accommodates attribute while the second one used the bathrooms attribute. Let's now train a model that uses both attributes when determining how similar 2 living spaces are. Let's refer to the Euclidean distance equation again to see what the distance calculation using 2 attributes would look like:

d = \sqrt{(q_1-p_1)^2 + (q_2-p_2)^2 + \cdots + (q_n-p_n)^2}

Since we're using 2 attributes, the distance calculation would look like:

d = \sqrt{(accommodates_1-accommodates_2)^2 + (bathrooms_1-bathrooms_2)^2 }

To find the distance between 2 living spaces, we need to calculate the squared difference between both accommodates values, the squared difference between both bathrooms values, add them together, and then take the square root of the resulting sum. Here's what the Euclidean distance between the first 2 rows in normalized_listings looks like:

So far, we've been calculating Euclidean distance ourselves by writing the logic for the equation ourselves. We can instead use the distance.euclidean() function from scipy.spatial, which takes in 2 vectors as the parameters and calculates the Euclidean distance between them. The euclidean() function expects:
both of the vectors to be represented using a list-like object (Python list, NumPy array, or pandas Series)
both of the vectors must be 1-dimensional and have the same number of elements
Here's a simple example:

In [17]:
from scipy.spatial import distance
first_listing = [-0.596544, -0.439151]
second_listing = [-0.596544, 0.412923]
dist = distance.euclidean(first_listing, second_listing)

In [18]:
dist

0.852074

### Instructions
1. Calculate the Euclidean distance using only the accommodates and bathrooms features between the first row and fifth row in normalized_listings using the distance.euclidean() function.

2. Assign the distance value to first_fifth_distance and display using the print function.

In [19]:
first = normalized_listings.iloc[0][['accommodates', 'bathrooms']] 
Fifth = normalized_listings.iloc[4][['accommodates', 'bathrooms']] 

dist = distance.euclidean(first, Fifth)

In [20]:
dist

5.272543124668403

### Introduction to scikit-learn

So far, we've been writing functions from scratch to train the k-nearest neighbor models. While this is helpful deliberate practice to understand how the mechanics work, you can be more productive and iterate quicker by using a library that handles most of the implementation. In this screen, we'll learn about the scikit-learn library, which is the most popular machine learning library in Python. Scikit-learn contains functions for all of the major machine learning algorithms and a simple, unified workflow. Both of these properties allow data scientists to be incredibly productive when training and testing different models on a new dataset.

The scikit-learn workflow consists of 4 main steps:

1. instantiate the specific machine learning model you want to use
2. fit the model to the training data
3. use the model to make predictions
4. evaluate the accuracy of the predictions

We'll focus on the first 3 steps in this screen and the next screen.

Each model in scikit-learn is implemented as a separate class and the first step is to identify the class we want to create an instance of. In our case, we want to use the KNeighborsRegressor class.

Any model that helps us predict numerical values, like listing price in our case, is known as a regression model. 

The other main class of machine learning models is called classification, where we're trying to predict a label from a fixed set of labels (e.g. blood type or gender). 

The word regressor from the class name KNeighborsRegressor refers to the regression model class that we just discussed.

from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()

If you refer to the documentation, you'll notice that by default:

1. n_neighbors: the number of neighbors, is set to 5
2. algorithm: for computing nearest neighbors, is set to auto
3. p: set to 2, corresponding to Euclidean distance

Let's set the algorithm parameter to brute and leave the n_neighbors value as 5, which matches the implementation we wrote in the last mission.

If we leave the algorithm parameter set to the default value of auto, scikit-learn will try to use tree-based optimizations to improve performance (which are outside of the scope of this mission):

knn = KNeighborsRegressor(algorithm='brute')

### Fitting a model and making predictions

Now, we can fit the model to the data using the fit method. For all models, the fit method takes in 2 required parameters:

1. matrix-like object, containing the feature columns we want to use from the training set.

2. list-like object, containing correct target values.

Matrix-like object means that the method is flexible in the input and either a Dataframe or a NumPy 2D array of values is accepted.

This means you can select the columns you want to use from the Dataframe and use that as the first parameter to the fit method.
If you recall from earlier in the mission, all of the following are acceptable list-like objects:

1. NumPy array
2. Python list
3. pandas Series object (e.g. when selecting a column)

You can select the target column from the Dataframe and use that as the second parameter to the fit method:

#Split full dataset into train and test sets.
train_df = normalized_listings.iloc[0:2792]
test_df = normalized_listings.iloc[2792:]
#Matrix-like object, containing just the 2 columns of interest from training set.
train_features = train_df[['accommodates', 'bathrooms']]
#List-like object, containing just the target column, `price`.
train_target = train_df['price']
# Pass everything into the fit method.
knn.fit(train_features, train_target)

When the fit() method is called, scikit-learn stores the training data we specified within the KNearestNeighbors instance (knn). If you try passing in data containing missing values or non-numerical values into the fit method, scikit-learn will return an error. Scikit-learn contains many such features that help prevent us from making common mistakes.

Now that we specified the training data we want used to make predictions, we can use the predict method to make predictions on the test set.

The predict method has only one required parameter:
matrix-like object, containing the feature columns from the dataset we want to make predictions on

The number of feature columns you use during both training and testing need to match or scikit-learn will return an error:


knn = KNeighborsRegressor(algorithm='brute')
predictions = knn.predict(test_df[['accommodates', 'bathrooms']])

### Instructions
1. Create an instance of the KNeighborsRegressor class with the following parameters:

##### n_neighbors: 5
##### algorithm: brute

2. Use the fit method to specify the data we want the k-nearest neighbor model to use. Use the following parameters:

##### training data, feature columns: just the accommodates and bathrooms columns, in that order, from train_df.
##### training data, target column: the price column from train_df.

3. Call the predict method to make predictions on:
the accommodates and bathrooms columns from test_df
assign the resulting NumPy array of predicted price values to predictions.

In [21]:
from sklearn.neighbors import KNeighborsRegressor

train_df = normalized_listings.iloc[0:2792]
test_df = normalized_listings.iloc[2792:]

In [22]:
knn = KNeighborsRegressor(algorithm='brute', n_neighbors = 5)

In [23]:
# Matrix-like object, containing just the 2 columns of interest from training set.
train_features = train_df[['accommodates', 'bathrooms']]
# List-like object, containing just the target column, `price`.
train_target = train_df['price']
# Pass everything into the fit method.
knn.fit(train_features, train_target)

KNeighborsRegressor(algorithm='brute')

In [24]:
predictions = knn.predict(test_df[['accommodates', 'bathrooms']])

In [25]:
predictions

array([  80.8,  251.2,   89.4,   80.8,   80.8,   80.8,  189.8,  167.8,
        167.8,  199. ,  251.2,  166.6,   81. ,  276.8,   80.8,   80.8,
         80.8,  166.6,   76.2,  982.2,   80.8,  245.8,  167.8,  216.2,
         80.8,   80.8,  167.8,  189.8,  225.8,   81. ,   81. ,   80.8,
         80.8,   80.8,   80.8,   80.8,   80.8,  166.6,  225.8,  245.4,
        225.8,   80.8,   81. ,  167.8,  135.2,  167.8,  167.8,   80.8,
         80.8,   80.8,   81. ,   80.8,   80.8,   80.8,  188. ,  135.2,
         92.4,  145.8,   80.8,  251.2,   80.8,  135.2,  167.8,   90.4,
         80.8,  135.2,   80.8,   80.8,   80.8,  135.2,  166.6,  223.6,
         80.8,  135.2,   80.8,  135.2,   80.8,  106.8,   80.8,   80.8,
         80.8,  135.2,  251.2,  189.8,   80.8,   80.8,   80.8,  135.2,
         89.4,  276.8,  199. ,   81. ,   81. ,   80.8,   80.8,  304.6,
        135.2,  135.2,  135.2,  167.8,   80.8,  135.2,   80.8,  216.2,
        167.8,   80.8,   81. ,   80.8,   80.8,   89.4,  225.8,   80.8,
        189.8,  238. ,  106.8,   81. ,  167.8,  188. ,  277.6,  135.2,
         80.8,  167.8,   80.8,  167.8,   80.8,  534. ,  135.2,  167.8,
        167.8,   62.8,  167.8,   80.8,  135.2,   80.8,   80.8,   80.8,
        166.6,   80.8,   90.4,  251.2,  167.8,  135.2,   80.8,  276.8,
        167.8,   80.8,   81. ,   81. ,   90.4,  135.2,  167.8,   80.8,
        225.8,  216.2,   81. ,  167.8,  276.8,  135.2,   80.8,   80.8,
        167.8,   80.8,  276.8,  135.2,  167.8,  166.6,   80.8,  251.2,
         80.8,   80.8,  189.8,   80.8,  216.2,  188. ,   80.8,   80.8,
        216.2,   80.8,   80.8,  135.2,   80.8,   89.4,   80.8,  240.6,
         80.8,   81. ,   80.8,  167.8,  189.8,  167.8,   80.8,   90.4,
         80.8,  276.8,  166.6,   80.8,   81. ,   90.4,  167.8,   92.4,
         80.8,  135.2,  135.2,   80.8,  167.8,   80.8,   80.8,  167.8,
        216.2,  240.6,   80.8,   80.8,  166.6,  167.8,  187.8,   80.8,
         80.8,   80.8,   80.8,   80.8,   80.8,  135.2,   80.8,  167.8,
         80.8,  304.6,   81. ,  238. ,  238. ,  167.8,  135.2,   81. ,
         80.8,   80.8,  216.2,   81. ,  135.2,   80.8,  240.6,  251.2,
         81. ,  238. ,  238. ,  167.8,   80.8,   80.8,  380. ,  167.8,
        135.2,  167.8,   80.8,   80.8,   81. ,   80.8,   80.8,   80.8,
        188. ,   80.8,   80.8,  167.8,   80.8,  135.2,  199. ,  135.2,
         80.8,   80.8,  276.8,  167.8,   80.8,   80.8,   80.8,   80.8,
        167.8,   80.8,  189.8,  216.2,  276.8,   81. ,  225.8,   85.8,
        135.2,  167.8,   80.8,   80.8,   80.8,  216.2,  304.6,   81. ,
        135.2,  240.6,   80.8,  225.8,  135.2,  276.8,  135.2,   80.8,
         80.8,   80.8,   80.8,   81. ,   80.8,   80.8,   80.8,   80.8,
         81. ,  135.2,   80.8,   80.8,  251.2,  167.8,   80.8,  225.8,
         80.8, 1002.2,   80.8,  199. ,  167.8,   80.8,  166.6,  135.2,
        198.8,   80.8,   80.8,   62.8,   81. ,  188. ,  167.8,   80.8,
         81. ,   80.8,   80.8,  619. ,   80.8,   81. ,   80.8,  135.2,
         80.8,   81. ,  135.2,   80.8,   80.8,  135.2,  135.2,   81. ,
         81. ,   81. ,  167.8,  135.2,   81. ,   80.8,   81. ,   80.8,
        188. ,  240.6,   81. ,  167.8,  135.2,   80.8,   80.8,  245.8,
        490. ,   80.8,   81. ,  504.8,   80.8,  188. ,   80.8,  276.8,
         80.8,  145.8,  490. ,  612.2,   92.4,   80.8,  166.6,   80.8,
        240.6,   80.8,  310.8,   80.8,  251.2,  828.2,  135.2,   80.8,
        167.8,   80.8,  199. ,  225.8,   80.8,   80.8,  167.8,   81. ,
        167.8,   90.4,  216.2,   80.8,   81. ,  135.2,  216.2,  135.2,
        199. ,   80.8,  199. ,   80.8,   80.8,  245.8,   80.8,   81. ,
         90.4,  216.2, 1002.2,  225.8,   80.8,  167.8,  108.8,   80.8,
         80.8,   80.8,   80.8,  276.8,  135.2,  167.8,   80.8,  167.8,
         90.4,   80.8,  188. ,   80.8,   80.8,  135.2,   80.8,  277.6,
        251.2,   80.8,   80.8,  167.8,  279.8,  276.8,  135.2,   80.8,
         92.4,  199. ,   92.4,  238. ,  240.6,   81. ,  216.2,   80.8,
        199. ,   80.8,   80.8,   80.8,  188. ,  279.8,  135.2,   80.8,
        166.6,  167.8,   80.8,   80.8,   81. ,  135.2,  189.8,  167.8,
         80.8,   81. ,  106.8,  167.8,   81. ,   62.8,   80.8,  277.6,
        167.8,   80.8,   80.8,   80.8,   80.8,  166.6,  167.8,   92.4,
         80.8,  167.8,   81. ,  135.2,  167.8,   81. ,   80.8,  216.2,
         81. ,   80.8,  380. ,   81. ,   80.8,   80.8,   80.8,  167.8,
        619. ,  135.2,  216.2,   80.8,   80.8,   80.8,  135.2,  135.2,
         80.8,  167.8,  135.2,  245.8,  167.8,  135.2,   80.8,  166.6,
        199. ,  135.2,   80.8,   80.8,   81. ,  135.2,  166.6,   81. ,
        188. ,   81. ,  135.2,   80.8,   80.8,  106.8,   80.8,   80.8,
        167.8,   80.8,  167.8,   80.8,   80.8,  189.8,  166.6,  199. ,
         80.8,   80.8,   92.4,   60.8,   80.8,  166.6,   80.8,   80.8,
        135.2,  135.2,  135.2,  135.2,   80.8,  216.2,  167.8,   80.8,
        135.2,   80.8,   80.8,   80.8,   80.8,  135.2,   80.8,   80.8,
         80.8,   80.8,   80.8,  276.8,   90.4,  135.2,   80.8,   80.8,
        251.2,   80.8,   81. ,  135.2,   80.8,  199. ,  189.8,   80.8,
         80.8,  253. ,   81. ,   80.8,   80.8,  106.8,   80.8,   80.8,
         80.8,   80.8,  167.8,   81. ,  167.8,  135.2,  167.8,  167.8,
         90.4,   80.8,   80.8,  167.8,  199. ,  240.6,  135.2,   80.8,
         81. ,   80.8,  225.8,  135.2,  167.8,  167.8,  135.2,  166.6,
        167.8,   80.8,  225.8,   80.8,   80.8,  207.8,   81. ,   80.8,
         80.8,   80.8,  189.8,  199. ,  135.2,   80.8,   80.8,   80.8,
        207.8,   80.8,   80.8,   80.8,  135.2,   80.8,  189.8,  135.2,
        135.2,  106.8,   80.8,  167.8,   80.8,   80.8,  276.8,  167.8,
         90.4,   80.8,   81. ,   80.8,   80.8,  135.2,   80.8,  135.2,
        135.2,  189.8,   80.8,  167.8,  240.6,  199. ,  166.6,  251.2,
        167.8,  135.2,  199. ,   80.8,  238. ,  251.2,  135.2,  279.8,
        167.8,   80.8,  167.8,   80.8,   80.8,   80.8,   81. ,  167.8,
         80.8,  135.2,  135.2,   80.8,  279.8,  167.8,  216.2,   80.8,
        304.6,  135.2,  167.8,  251.2,   81. ,   62.8,   90.4,   81. ,
        216.2,  251.2,  167.8,  188. ,   80.8,  135.2,  167.8,   80.8,
        166.6,  145.8,   80.8,  166.6,   81. ,  167.8,  198.8,   80.8,
        189.8,   80.8,   80.8,   80.8,  688.8,   80.8,  251.2,  167.8,
         80.8,   80.8,   80.8,  167.8,   80.8,   80.8,   80.8,   80.8,
        167.8,   80.8,  166.6,   80.8,  207.8,   80.8,  225.8,   80.8,
        167.8,   80.8,  167.8,   80.8,  167.8,  216.2,  167.8,  166.6,
         80.8,  189.8,  135.2,   80.8,  199. ,  251.2,  238. ,   80.8,
        277.6,  167.8,   80.8,   81. ,  167.8,  135.2,   92.4,   80.8,
        299.8,   80.8,  135.2,  135.2,   80.8,  135.2,   80.8,  167.8,
        240.6,  166.6,   80.8,  296.6,   90.4,  383.8,  167.8,   80.8,
         80.8,   80.8,   80.8,   80.8,  276.8,   80.8,  380. ,   80.8,
        216.2,  167.8,   80.8,   81. ,   80.8,   80.8,  245.4,  167.8,
         80.8,  216.2,   80.8,   90.4,   80.8,   80.8,   80.8,  167.8,
         81. ,   80.8,  135.2,  225.8,  135.2,  135.2,   80.8,   80.8,
        166.6,   80.8,  167.8,  240.6,   62.8,  167.8,   80.8,  167.8,
        166.6,   80.8,   90.4,  135.2,   80.8,  135.2,  135.2,  167.8,
         80.8,   80.8,  199. ,   80.8,  167.8,  167.8,   80.8,   80.8,
         80.8,  445.4,  167.8,  167.8,  167.8,  225.8,   80.8,  135.2,
        135.2,  135.2,   80.8,  534. ,  166.6,   80.8,   80.8,  167.8,
         80.8,   80.8,  189.8,  166.6,   80.8,  166.6,   80.8,   81. ,
         80.8,   80.8,  167.8,   80.8,  550.2,  216.2,  189.8,  216.2,
         81. ,   80.8,  199. ,   80.8,  135.2,   85.8,   80.8,   80.8,
         80.8,  167.8,  240.6,  199. ,   80.8,  135.2,   80.8,   80.8,
        199. ,  304.6,   81. ,   81. ,   85.8,  198.8,  276.8])

### Calculating MSE using Scikit-Learn

>>> from sklearn.metrics import mean_squared_error
>>> y_true = [3, -0.5, 2, 7]
>>> y_pred = [2.5, 0.0, 2, 8]
>>> mean_squared_error(y_true, y_pred)
0.375
>>> y_true = [3, -0.5, 2, 7]
>>> y_pred = [2.5, 0.0, 2, 8]
>>> mean_squared_error(y_true, y_pred, squared=False)
0.612...
>>> y_true = [[0.5, 1],[-1, 1],[7, -6]]
>>> y_pred = [[0, 2],[-1, 2],[8, -5]]
>>> mean_squared_error(y_true, y_pred)
0.708...
>>> mean_squared_error(y_true, y_pred, multioutput='raw_values')
array([0.41666667, 1.        ])
>>> mean_squared_error(y_true, y_pred, multioutput=[0.3, 0.7])
0.825...

In [26]:
from sklearn.metrics import mean_squared_error

train_columns = ['accommodates', 'bathrooms']
knn = KNeighborsRegressor(n_neighbors=5, algorithm='brute', metric='euclidean')
knn.fit(train_df[train_columns], train_df['price'])
predictions = knn.predict(test_df[train_columns])

In [27]:
mse = mean_squared_error(test_df['price'] , predictions)

In [28]:
rmse = mean_squared_error(test_df['price'], predictions, squared = False)

In [29]:
rmse

124.90201702396679

from sklearn.metrics import mean_squared_error
train_columns = ['accommodates', 'bathrooms']
knn = KNeighborsRegressor(n_neighbors=5, algorithm='brute', metric='euclidean')
knn.fit(train_df[train_columns], train_df['price'])
predictions = knn.predict(test_df[train_columns])
two_features_mse = mean_squared_error(test_df['price'] , predictions) 
two_features_rmse = mean_squared_error(test_df['price'], predictions)**0.5

### Using more features

Here's a table comparing the MSE and RMSE values for the 2 univariate models from the last mission and the multivariate model we just trained:

feature(s)	MSE	RMSE
accommodates	18646.5	136.6
bathrooms	17333.4	131.7
accommodates, bathrooms	15660.4	125.1

As you can tell, the model we trained using both features ended up performing better (lower error score) than either of the univariate models from the last mission. Let's now train a model using the following 4 features:

1. accommodates
2. bedrooms
3. bathrooms
4. number_of_reviews

Scikit-learn makes it incredibly easy to swap the columns used during training and testing. We're going to leave this for you as a challenge to train and test a k-nearest neighbors model using these columns instead.

### Instructions
Create a new instance of the KNeighborsRegressor class with the following parameters:

1. n_neighbors: 5
2. algorithm: brute

Fit a model that uses the following columns from our training set (train_df):
1. accommodates
2. bedrooms
3. bathrooms
4. number_of_reviews

Use the model to make predictions on the test set (test_df) using the same columns. Assign the NumPy array of predictions to four_predictions.

Use the mean_squared_error() function to calculate the MSE value for these predictions by comparing four_predictions with the price column from test_df.

Assign the computed MSE value to four_mse.

Calculate the RMSE value and assign to four_rmse.

Display four_mse and four_rmse using the print function.

In [30]:
features = ['accommodates', 'bedrooms', 'bathrooms', 'number_of_reviews']
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=5, algorithm='brute')

In [31]:
#Split full dataset into train and test sets.
train_df = normalized_listings.iloc[0:2792]
test_df = normalized_listings.iloc[2792:]
#Matrix-like object, containing just the 2 columns of interest from training set.
train_features = train_df[features] 
#List-like object, containing just the target column, `price`.
train_target = train_df['price']
# Pass everything into the fit method.
knn.fit(train_features, train_target)

KNeighborsRegressor(algorithm='brute')

In [32]:
predictions = knn.predict(test_df[features])

In [33]:
predictions

array([ 102. ,  308. ,   82.2,   78. ,   78. ,   78. ,  109.2,  106.4,
        149.8,  128. ,  429. ,   85.6,  123. ,  161.8,   89.6,  104. ,
        140.8,   95.6,   86.4, 1002.2,  114.6,  193. ,  147.6,  111.4,
         78. ,   86.8,  141.6,  196.8,  290.6,  123. ,   91.6,   99.6,
        129.6,   99.6,  107.6,   93. ,  115.4,   82. ,  290.6,  171.6,
        232.8,  111.4,   91.6,  127.2,  146. ,  149.8,   90.8,   99.6,
         78. ,  111.4,   63. ,  126.2,  115.4,  138.8,  465. ,  146. ,
        112.6,  145.4,   99.6,  389.6,   93.4,  111. ,  185.8,  113. ,
         78. ,  116.8,   99.6,   91.2,  129.6,  113.6,   70.8,  137.2,
        110.2,  131. ,   99.6,   97.8,  104. ,  109.4,  107.6,   95.4,
        121. ,   97.8,  277.2,  135.2,  113.8,   99.6,  104. ,  129.6,
         84.6,  282.8,  185.4,  139.8,   69.8,   99.6,   72.6,  393.2,
         90.2,  114.4,  107.2,  124.4,  102. ,  146. ,  104. ,  219.4,
        131.6,   96.6,   76.6,  104. ,   99.6,  108. ,  290.6,   91.2,
        132.6,  215.6,  146. ,   74.2,  164.2,  122.6,  250.8,  146. ,
         99.6,  139. ,  128. ,  112. ,   99.6,  451.8,  146. ,  125.6,
        112.6,   85.4,  109.8,  129.6,  129. ,   96. ,   78. ,   99.6,
         70.6,  113.8,  107.4,  429. ,  166.4,  136.8,  120.6,  337. ,
        131.6,  126. ,  123. ,  123. ,  107.4,  146. ,   94.4,  129.6,
        488.6,  199.6,   62.6,  140.2,  276.6,   97.8,   78. ,   95.4,
        231.6,   99.6,  247.8,   96.6,   96.4,   97. ,   99.6,  312.4,
         91.2,   91.2,  137.4,  133. ,  237.2,  185.8,   78. ,   95.4,
        238.2,   99.6,  113.8,  108.4,  110.2,  116.8,  141.8,  197.2,
         94.4,   86.6,   78. ,  153.8,  246.8,   96.4,   99.6,   96.2,
         99.6,  349.4,  110.8,  113.8,   93. ,   96.2,  149.8,  107.6,
        113.8,  146. ,  134. ,  129.6,  112. ,  110.8,   90.4,  140.2,
        182.4,  169.8,  126. ,  112.8,   85.6,   84.6,  110.4,  115.4,
        129.6,  104. ,   88.2,   99.6,   99.6,  136.8,   94.4,  106.4,
        113.8,  393.2,  123. ,  222.6,  176.8,  134.4,  136.8,  123. ,
         86.8,  112.8,  237.2,   74.2,  107.4,  107.6,  109.2,  253.2,
         65.4,   86. ,  222.6,  120.6,  140.8,  125.8,  249.4,  107.4,
        143. ,  106.4,  128. ,   91.2,   96. ,  104.6,   99.6,  138.8,
        187.2,  132. ,  112.8,  112. ,   78.2,  137.8,   93.4,   91.8,
        101.2,  113.8,  294.8,  166.4,   78. ,  126. ,   78. ,  126.4,
        112. ,  107. ,  194. ,  205.4,  211. ,   76.6,  433.4,   76.6,
        137.8,  147.6,   99.6,  115.4,  138.8,  199.6,  128.6,  123. ,
        136.4,  169.8,   99.6,  433.4,   90.2,  209.6,  146. ,  128. ,
        138.8,  104. ,  133. ,   43.4,  112.6,  118.4,   99.6,  112.8,
         63. ,  133.2,   93.2,   96.6,  429. ,  139. ,  129.6,  290.6,
         78. , 1002.2,  110.2,  185.4,  175.8,   89.6,   97. ,  129. ,
        260.2,   99.6,  120.6,   79. ,  123. ,  180.8,  166.4,  115.4,
         78. ,  126. ,   96.6,  535.8,  104. ,   62.6,   99.6,  143. ,
        129.6,   76.6,  111. ,   78. ,   90.4,  146. ,  116.8,  123. ,
         80.8,  123. ,  112. ,  129.4,   62.6,   95.4,   63.8,  115.4,
        187.2,  265.2,  123. ,  140.2,  146. ,  104. ,  132.8,  216.6,
        553.4,  114. ,  123. ,  314.8,   89.6,  178. ,   87.8,  316.6,
        113.8,  145.4,  553.4,  227.8,   94.6,   78. ,   96. ,   89.6,
         83.4,   99.6,  303.4,   99.6,  253.2,  881.2,  110. ,   99.6,
        117.6,   90.4,  189.8,  273.6,  129.6,   89.6,   95.4,   76.6,
        112. ,   66.6,  156. ,   97.6,  123. ,   91.2,  199.6,  160.6,
        197.6,   96.8,  197.6,  104. ,  133. ,  342.4,   99.6,  123. ,
         69.6,  237.2, 1002.2,  448.4,   99.6,  111.6,   86.8,   99.6,
        111.4,   99.6,  113.8,  245.8,  120.6,  146.6,   99.6,  117.6,
        102.2,  129.6,  187.2,  104. ,   99.6,  134. ,   86.8,  250.8,
        202.8,   96.8,   89.6,  145.6,  376.8,  430.8,  114.4,  127.8,
        188.6,  125.4,  112.6,  222.6,  149.6,  123. ,  230. ,   89.6,
        225.4,   86.8,   99.6,  126. ,  187.2,  266.2,   97.8,  129.6,
        116.6,  112. ,  110.8,   89.6,  123. ,  139.8,  288.8,  140.2,
        120.6,   69.8,  166.8,  164.2,  123. ,   87. ,   99.4,  250.8,
         94.4,   78. ,  115.4,  129.6,  115.4,  116.6,  120.6,  107.6,
        110.2,   94.4,  123. ,   97.8,  166.4,   69.8,  107.4,  199.6,
         91.6,   96.6,  422.6,  112.2,  140.8,  129.6,  140.8,  124.4,
        578.8,   97.8,  237.2,   99.6,  120.8,   78. ,  104.4,   90.2,
         95.4,  189.8,   90.2,  362.2,  111.6,  115.6,   96.8,  101.2,
        185.4,  122.8,  115.4,   90.4,   69.8,  160.6,  116.6,   62.6,
        457. ,   63.8,  134. ,   88. ,  140.8,  101.8,   99.6,  140.8,
        114.6,   93.6,  140.2,  111.4,  113.8,  142.6,   94. ,  140.2,
        129.6,  113.8,   79. ,   48.4,  114.6,   94. ,   88.8,   78. ,
        120.6,  136.8,  107.4,  160.6,  129.6,  199.6,  187. ,   99.6,
         97.8,   99.6,   85.6,  104. ,   99.6,   97.8,   89.6,   95.4,
        129.6,   78. ,  104. ,  245.8,  102.2,   90.2,  140.8,  120.6,
        429. ,  125.4,  123. ,  124.8,  129.6,  177.2,  121.4,   96.8,
         99.6,  318.6,  123. ,  129.6,  138.8,  172. ,  115.4,  129.6,
         99.4,   92.6,  130.8,   43.4,  183.4,  160.6,  113.6,   95.4,
         59.6,   99.6,   96.6,  152.8,  157.2,  214.2,  110.8,   78. ,
        123. ,   99.6,  201.4,  146. ,  127.2,  140.2,  107.4,  122. ,
        149. ,  104. ,  433.4,   95.2,  104. ,  251.6,   62.6,   99.6,
        129.6,   99.6,  151.6,  232.8,  136.8,   97.6,  104. ,   94.2,
        233.8,   99.6,  140.8,   99.6,  136.8,  129.6,  120.4,  104.4,
        104.4,  181.8,  104.6,  139. ,  128. ,   86.8,  161.8,  149.8,
         94.4,   91.2,  123. ,   84.8,  129.6,  130. ,  109.6,  146. ,
        160.6,  112.6,  102. ,  140.2,   83.4,  123.8,  116.6,  429. ,
        131.4,   96.2,  209.4,   99.6,  226.8,  257.2,  111. ,  259.8,
         84.6,   86.8,  137.6,  118.4,  111.4,   99.6,  123. ,  139.4,
        113.8,  116.8,  160.6,   86.8,  282.8,  130.8,  199.6,  140.8,
        345.8,  133. ,  133.2,  257.2,   76.6,   89.8,  118. ,  123. ,
        143.2,  429. ,  112. ,  217. ,  104. ,  110.8,   96.4,  113.8,
         94.2,  333.8,   72.6,   94. ,  112.2,  112. ,  192.8,   99.6,
        230. ,  104. ,   89.6,   99.6,  396.8,   99.6,  429. ,  140.2,
         99.6,  140.8,  140.8,  231.6,  129.6,  104. ,   78. ,   99.6,
        149. ,   95.4,  108.2,  102. ,  296.8,  128. ,  255.2,  113.8,
        149.8,  104. ,  158. ,  104. ,  131.6,  249.4,  140.2,  110.8,
         91.2,  277.8,  147.2,   78. ,  153. ,  268.2,  218.6,  129.6,
        310.8,  134.4,   95.4,   91.6,  134.4,  136.8,   99.8,   89.6,
        577.8,  125.6,  127.6,   90.2,   68.2,  134.6,  104. ,  137.6,
        266.8,  116.6,  129.6,  330. ,  102.2,  394.8,  124. ,  115.4,
        104. ,   99.6,   97.6,   89.6,  349.6,   96.6,  378.8,  104. ,
        237.2,  125.6,  129.6,   63. ,   72.6,  129.6,  210.4,  112. ,
        115.4,  266.2,   99.6,  118. ,   91.2,  109.6,   96.6,  130.8,
        101.2,  115.4,  126.4,  252.6,  146. ,  138. ,  115.4,   99.6,
         96. ,   95.4,  134.4,  103.2,   96. ,  140.2,  129.6,  117.8,
         70.8,  112.8,   85.8,   97.8,  112.8,  107.4,  146. ,  107.4,
        140.8,  120.6,  177.2,  104. ,  112.6,  130.2,  127.8,   72.6,
        103.2,  533. ,  129.4,  109.8,  112. ,  335.6,   89.6,   96.2,
        129. ,  146. ,   78. ,  644. ,  116.6,  129.8,   96. ,  153.8,
         78. ,   99.6,  137.2,  106.8,  126. ,   70.8,   95.4,   63.8,
        110.8,   96.8,  151. ,   97.6,  553.4,  199.6,  121.2,  142.6,
        123. ,   99.4,  194.8,  129.6,  146. ,   96.6,   78. ,  103.2,
         99.6,   90.8,  168. ,  185.4,   96.8,  146. ,   99.6,   78. ,
        167.2,  388.6,   82. ,   78. ,   86.6,  201. ,  161.8])

In [34]:
from sklearn.metrics import mean_squared_error
train_columns = features 
knn = KNeighborsRegressor(n_neighbors=5, algorithm='brute', metric='euclidean')
knn.fit(train_df[train_columns], train_df['price'])
predictions = knn.predict(test_df[train_columns])

In [35]:
mse = mean_squared_error(test_df['price'] , predictions)

In [36]:
mse

13322.432400455064

In [37]:
rmse = mean_squared_error(test_df['price'], predictions, squared = False)

In [38]:
rmse

115.42284176217056

In [40]:
features = ['accommodates', 'bedrooms', 'bathrooms', 'beds',
       'minimum_nights', 'maximum_nights', 'number_of_reviews']

In [41]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=5, algorithm='brute')

In [42]:
#Split full dataset into train and test sets.
train_df = normalized_listings.iloc[0:2792]
test_df = normalized_listings.iloc[2792:]
#Matrix-like object, containing just the 2 columns of interest from training set.
train_features = train_df[features] 
#List-like object, containing just the target column, `price`.
train_target = train_df['price']
# Pass everything into the fit method.
knn.fit(train_features, train_target)

KNeighborsRegressor(algorithm='brute')

In [43]:
predictions = knn.predict(test_df[features])

In [44]:
from sklearn.metrics import mean_squared_error
train_columns = features 
knn = KNeighborsRegressor(n_neighbors=5, algorithm='brute', metric='euclidean')
knn.fit(train_df[train_columns], train_df['price'])
predictions = knn.predict(test_df[train_columns])

In [46]:
mse = mean_squared_error(test_df['price'] , predictions)

In [47]:
mse

15455.275631399316

In [45]:
rmse = mean_squared_error(test_df['price'], predictions, squared = False)

In [48]:
rmse

124.31924883701363

Interestingly enough, the RMSE value actually increased to 125.1 when we used all of the features available to us. This means that selecting the right features is important and that using more features doesn't automatically improve prediction accuracy. We should re-phrase the lever we mentioned earlier from:

increase the number of attributes the model uses to calculate similarity when ranking the closest neighbors
to:

select the relevant attributes the model uses to calculate similarity when ranking the closest neighbors
The process of selecting features to use in a model is known as feature selection.

In this mission, we prepared the data to be able to use more features, trained a few models using multiple features, and evaluated the different performance tradeoffs. We explored how using more features doesn't always improve the accuracy of a k-nearest neighbors model. In the next mission, we'll explore another knob for tuning k-nearest neighbor models - the k value

## Syntax

#### Displaying the number of non-null values in the columns of a DataFrame:

dc_listings.info()

#### Removing rows from a DataFrame that contain a missing value:

dc_listings.dropna(axis=0, inplace=True)

#### Normalizing a column using pandas:

first_transform = dc_listings['maximum_nights'] - dc_listings['maximum_nights'].mean()
normalized_col = first_transform / first_transform.std()

#### Normalizing a DataFrame using pandas:

normalized_listings = (dc_listings - dc_listings.mean()) / (dc_listings.std())

#### Calculating Euclidean distance using SciPy:

from scipy.spatial import distance
first_listing = [-0.596544, -0.439151]
second_listing = [-0.596544, 0.412923]
dist = distance.euclidean(first_listing, second_listing)

#### Using the KNeighborsRegressor to instantiate an empty model for K-Nearest Neighbors:

from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()

#### Using the fit method to fit the K-Nearest Neighbors model to the data:

train_df = normalized_listings.iloc[0:2792]

test_df = normalized_listings.iloc[2792:]

train_features = train_df[['accommodates', 'bathrooms']]

train_target = train_df['price']
knn.fit(train_features, train_target)

#### Using the predict method to make predictions on the test set:

predictions = knn.predict(test_df[['accommodates', 'bathrooms']])

#### Calculating MSE using scikit-learn:

from sklearn.metrics import mean_squared_error
two_features_mse = mean_squared_error(test_df['price'], predictions)

## Concepts

To reduce the RMSE value during validation and improve accuracy, you can:

Select the relevant attributes a model uses. When selecting attributes, you want to make sure you're not working with a column that doesn't have continuous values. The process of selecting features to use in a model is known as feature `selection.`

Increase the value of k in our algorithm.

We can normalize the columns to prevent any single value having too much of an impact on distance. 

Normalizing the values to a standard normal distribution preserves the distribution while aligning the scales. 

Let x be a value in a specific column,  be the mean of all values within a single column, and  be the standard deviation of the values within a single column, then the mathematical formula to normalize the values is as follows:

\begin{equation}
x = \frac{x - \mu}{\sigma}
\end{equation}

The distance.euclidean() function from scipy.spatial expects:

1. Both of the vectors to be represented using a list-like object (Python list, NumPy array, or pandas Series).

2. Both of the vectors must be 1-dimensional and have the same number of elements.

The scikit-learn library is the most popular machine learning library in Python. Scikit-learn contains functions for all of the major machine learning algorithms implemented as a separate class. The workflow consists of four main steps:

1. Instantiate the specific machine learning model you want to use.
2. Fit the model to the training data.
3. Use the model to make predictions.
4. Evaluate the accuracy of the predictions.

One main class of machine learning models is known as a `regression model`, which predicts numerical value.

The other main class of machine learning models is called `classification`, which is used when we're trying to predict a label from a fixed set of labels.

The fit method accepts list-like objects while the predict method accepts matrix like objects.

The mean_squared_error() function takes in two inputs:

1. A list-like object representing the actual values.
2. A list like object representing the predicted values using the model.